generated/
unix/services/generated/
**/generated.*
/.machine.local.lua
/shell/modules/nushell/secrets.nu
.nvimlog
nvim/lazy-lock.json
nvim/.tmp

nvim/.machine.lua
.codex

# TPM-managed tmux plugins
terminal/multiplexer/tmux/plugins/
/nvim/mssql/projects.json
